* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

main {
    font-family: 'Red Hat Display', sans-serif;
    border:1px solid black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.card {
    text-align: center;
    max-width:400px;
    min-height:600px;
    border-radius: 25px;
    background-color: white;
    
}

.img {
    max-width:400px;
    min-height:200px;
    border-radius: 25px 25px 0 0;
}

.top-sec {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    margin-top:0;
    
    
}

.price-flex {
    border: 1px solid black;
    display:flex;
    gap:25px;
    width:350px;
    align-self: center;
    height:100px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    
    
}

.icon {
    align-self: center;
    margin-left: 10px;
    width:40px;
}


.price-box {
    align-self: center;
    margin-left: 0px;
    font-size:15px;
    margin-right:50px;
    
    
}

.change {
    align-self: center;
    margin-right:10px;
}

.bottom {
    border: 1px solid black;
}

.writing {
    display:flex;
    flex-direction: column;
    height: 400px;
    gap:30px;
}

.title {
    margin: 30px 10px;
    margin-top:30px;
    margin-bottom: 15px;
}

.para {
    width:300px;
    align-self: center;
    line-height: 1.75;
}

.bottom {
    display:flex;
    flex-direction: column;
    height:100px;
    gap:35px;
    
}