* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

main {
    font-family: 'Red Hat Display', sans-serif;
    border:1px solid black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.card {
    text-align: center;
    max-width:400px;
    min-height:600px;
    border-radius: 25px;
    background-color: white;
    
}

.img {
    max-width:400px;
    min-height:200px;
    border-radius: 25px 25px 0 0;
}

.top-sec {
    border: 1px solid black;
    
}

.price-box {
    border: 1px solid black;
}

.bottom {
    border: 1px solid black;
}

.writing {
    display:flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
}